.box-container {
padding: 20px;
}

.box {
    display: flex;
    margin: 20px;
}
.card {
    padding: 20px
}
.product {
    display: flex;
}
.product-text {
    background-color: purple;
    color:black
}
.blueberry {
    height: 250px;
    width: 200px;
}

/* checkout page */
h4 {
    font-weight: 300;
    color: #525252
}
strong {
    font-weight: 900;
}
.check {
    float: right;
    margin: 5px;
}
.cart-row {
    display: flex;
    align-items: flex-stretch;
    padding: 10px;
}
.cart-img {
    height: 50px;
    width: 50px;
}
.item-qty {
    display: inline-block;
    font-weight: 800;
    padding-right: 10px;
}
.qty {
    display: block;
}
/*
.line {
    display: inline;
} */