/* store */
* {
    box-sizing: border-box
}
.box-container {
    padding: 20px;
}
.product-container-row {
    margin: 0 -5px;
}
.product-container-row:after {
    content: "";
    display: table;
    clear: both;
}
/* float columns side by side */
.product-container-col {
    float: left;
    width: 25%;
    padding: 0 10px;
}
/* responsive columns */
@media screen and (max-width: 600px) {
    .product-container-col {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
.product {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    padding: 14px;
    margin: 10px;
    text-align: center;
}

.product-text {
    color:black
}
.blueberry {
    height: 200px;
    width: 150px;
}

/* checkout page */
h4 {
    font-weight: 300;
    color: #525252
}
strong {
    font-weight: 900;
}
.check {
    float: right;
    margin: 5px;
}
.cart-row {
    display: flex;
    padding: 10px;
}
.cart-item {
    margin: 10px;
    padding: 20px;
}

.cart-img {
    height: 50px;
    width: 50px;
}
.item-qty {
    display: inline-block;
    font-weight: 800;
    padding-right: 10px;
}
.qty {
    display: block;
}

/* checkout html */

.form-info {
    display: flex;
    align-items: center;
    justify-content: center;
    border: black solid;
}
.checkout-form {
    padding: 30px;
}
.form-back {
    margin: 50px;
    border: solid black;
    z-index: 2;
}
.cart-row {
    display: flex;
}
