{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <div>
        <div>
            <a href="/" class="shop-btn">Continue Shopping</a>
        
            <br>
            <table>
                <tr>
                    <th><h4>Items: <strong>4</strong></h4></th>
                    <th><h4>Total: <strong>35</strong></h4></th>
                    <tr>
                        <a href="{% url 'checkout' %}" class="check">checkout</a>
                    </tr>
                </tr>
            </table>
        </div>

    <br>
    <div class="box-element">
        <div class="cart-row">
            <div style="flex:2"></div>
            <div style="flex:2">Item</div>
            <div style="flex:1">Price</div>
            <div style="flex:1">Quantity</div>
            <div style="flex:1">Total</div>
        </div>
        {% for item in items %}
        <div class="cart-row">
            <div style="flex:2"><img class="cart-img" src="{{item.product.imageURL}}"></div>
            <div style="flex:2">{{item.product.name}}</div>
            <div style="flex:1">{{item.product.price}}</div>
            <div style="flex:1">
                <p class="item-qty">{{item.quantity}}</p>   
                <div class="item-qty">
                    <i class="qty fa fa-caret-up"></i>
                    <i class="qty fa fa-caret-down"></i>
                </div>
            </div>
            <div style="flex:1">${{item.get_total}}</div>
        </div>
        <hr>
        {% endfor %}
    </div>
</div>
</div>
{% endblock content%}