{% extends 'base.html' %}
<!-- enables us to use static images -->
{% load static %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="box-container">
            <div class="box">
                <div class="card">
                    <div class="product">
                        <img class="blueberry" src="{% static 'images/blueberry.jpeg' %}">
                        <div class="product-text">
                            <p> This is a product that is going to be for sale</p>
                            <button>View</button>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="product">
                        <img class="blueberry" src="{% static 'images/blueberry.jpeg' %}">
                        <div class="product-text">
                            <p> This is a product that is going to be for sale</p>
                            <button>View</button>
                            <button>Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>


<h3> Put this in the credits page</h3>
<a href="https://www.flaticon.com/free-icons/smart-cart" title="smart cart icons">Smart cart icons created by Freepik - Flaticon</a>
{% endblock content%}