{% extends 'base.html' %}
<!-- enables us to use static images -->
{% load static %}

{% block content %}

<div class="box-container">
    <div class="product-container-row">
        {% for product in products %}
        <div class="product-container-col">
            <div class="product">
                <img class="blueberry" src="{% static 'images/blueberry.jpeg' %}">
                <div class="product-text">
                    <h5>{{product.name}}</h5>
                    <p>{{product.description}}</p>
                    <button>View</button>
                    <button>Add to Cart</button>
                    <h5>${{product.price}}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<h3> Put this in the credits page</h3>
<a href="https://www.flaticon.com/free-icons/smart-cart" title="smart cart icons">Smart cart icons created by Freepik - Flaticon</a>
{% endblock content%}